### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Arquivos de build
/out/
/target/

# Arquivos compilados
*.class

# Configurações do IntelliJ IDEA
/.idea/
/*.iml

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Sistema operacional

Thumbs.db

# Dependências externas (se usar Maven ou Gradle)
# /dependency-reduced-pom.xml
# /.mvn/
# /.gradle/
# /build/

# Arquivos gerados pelo IntelliJ ao executar testes
/test-output/
